<!DOCTYPE html>
<html>
  <header>
    <title>Simple Accordion</title>
    <link rel="stylesheet" href="accordion.component.css" />
    <script ></script>
    <script type="text/javascript" src="../controller/accordion.component.js"></script>
    
  </header>
  <body>
    <div class="container">
      <button onclick="Accordion()" class="accordion">
        TEST
        <img src="../assets/svg/arrow.svg" class="seta" />
      </button>
      <div class="accordion-content">
        <p>
          This is your simple accordion
        </p>
      </div>
    
  </body>
</html>
